.video-player{
    min-height: 100vh;
    background-color: #111;
    color:white;
    padding: 2rem;
    background-color: #FFF7C5;
}
.video-page{
    max-width: 900px;
    margin:0 auto;
    background-color: #C1EBE9;
}
.video-page video{
    width:100%;
    border-radius: 12px;
}
.video-page h1{
    color:#3d0a28
}
dialog, .pass-modal { background: #FFF7C5; border: 1px solid #3d0a28; }
